<div>
  <table class="table table-bordered acttable mytable" >
    <thead class="mytable" style="border-radius: 7px;">
      <th class="drag" style="cursor:move" draggable drag="handleDrag"  dragData="{{hd.title}}" droppable drop="handleDrop" ng-repeat="hd in conf.heads">
        
        <a href="" ng-click="order(hd.title)">{{hd.title}}</a>
        <span class="sortorder" ng-show="predicate === hd.key" ng-class="{reverse:reverse}"></span>
    
      </th>
    </thead>
    <tbody class="grid"> 
      <tr ng-repeat="record in conf.data | orderBy:predicate:reverse | limitTo:PAGE_SIZE:start">
        <td ng-repeat="header in conf.heads"><span>{{record[header.key]}}</span>
        </td>
      </tr>
      <tr >
        <td class="next-prev" colspan="5">Page(s): {{pages}} <span style="padding:5px"> showing {{PAGE_SIZE}} records per page</span>
         <span class="next-prev" style="float:right;padding:5px"><a ng-hide="hidePrev()" href="" ng-click="prevPage()">Prev</a></span>
        <span class="next-prev" style="float:right;padding:5px"><a ng-hide="hideNext()" href="" ng-click="nextPage()">Next</a></span></td>
      </tr>
    </tbody>
  </table>
</div>

     