<div class="main_todo">
            <h3><strong>Hello! Add all you need to shopping list here: </strong></h3>
            <div class="todoContainer" ng-app="listApp" ng-controller="ListController">
                <div class="inputArea">
                     <input style="width: 50%; display: inline-block;" type="text" autofocus="autofocus" ng-model="lastTodo" ng-focus="clearInput()" ng-keyup="onEnter($event)" placeholder="Enter todo">
                     <div style="display: inline-block;" type="button" class="btn btn-primary myFormBtn" ng-click="addItem(lastTodo)">Add</button>
                </div>
                <div class="listArea">
                    <div class="list" ng-repeat="todo in todos">
                     <div class="todo"></div>
                     <todo-item></todo-item>
                    <div>
                </div>
            </div>
        </div>